# --
# Copyright (C) 2001-2021 OTRS AG, https://otrs.com/
# Copyright (C) 2021 Znuny GmbH, https://znuny.org/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (GPL). If you
# did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
# --

[% RenderBlockStart("BulkAction") %]
<form action="[% Env("CGIHandle") %]" method="post" enctype="multipart/form-data" name="compose" class="Validate">
    <input type="hidden" name="Action" value="[% Env("Action") %]"/>
    <input type="hidden" name="Subaction" value="Do"/>

    <div class="LayoutPopup ARIARoleMain">
        <div class="Header">
            <h1>[% Translate("ITSM ConfigItem Bulk Action") | html %]</h1>
            <div class="SaveButtons">
                <a class="CancelClosePopup btn-cancel-ghost btn-main btn-width-md" href="#">[% Translate("Cancel") | html %]</a>
            </div>
        </div>
        <div class="Content">
            <div class="WidgetSimple">
                <div class="Content">
[% RenderBlockStart("UsedConfigItemID") %]
                    <input type="hidden" name="ConfigItemID" value="[% Data.ConfigItemID | html %]" />
[% RenderBlockEnd("UsedConfigItemID") %]

                    <fieldset class="TableLike FixedLabel">
[% RenderBlockStart("DeplState") %]
                        <div class="field-wrapper">
                            <label for="DeplStateID">[% Translate("Deployment state") | html %]</label>
                            <div class="Field">
                                [% Data.DeplStateStrg %]
                            </div>
                        </div>
[% RenderBlockEnd("DeplState") %]
[% RenderBlockStart("InciState") %]
                        <div class="field-wrapper">
                            <label for="InciStateID">[% Translate("Incident state") | html %]</label>
                            <div class="Field">
                                [% Data.InciStateStrg %]
                            </div>
                        </div>
[% RenderBlockEnd("InciState") %]
                        <div class="field-wrapper">
                            <label for="LinkTogether">[% Translate("Link together") | html %]</label>
                            <div class="Field">
                                [% Data.LinkTogetherYesNoOption %]
                                [% Data.LinkTogetherLinkTypeStrg %]
                            </div>
                        </div>

                        <div class="field-wrapper">
                            <label for="LinkTogetherAnother">[% Translate("Link to another") | html %]</label>
                            <div class="Field">
                                <input type="text" class="[% Data.LinkTogetherAnotherInvalid | html %] W25pc" id="LinkTogetherAnother" name="LinkTogetherAnother" value="[% Data.LinkTogetherAnother | html %]"/>
                                <div id="LinkTogetherAnotherServerError" class="TooltipErrorMessage"><p>[% Translate("Invalid Configuration Item number!") | html %]</p></div>
                                [% Data.LinkTypeStrg %]
                                <p class="FieldExplanation">[% Translate("The number of another Configuration Item to link with.") | html %]</p>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="Footer field-wrapper form-button-actions">
            <div class="buttons-field">
                <button class="Primary CallForAction btn-main btn-primary btn-width-md" id="submitRichText" accesskey="g" title="[% Translate("Submit") | html %] (g)" type="submit" value="[% Translate("Submit") | html %]"><span>[% Translate("Submit") | html %]</span></button>
            </div>
        </div>
    </div>
</form>
[% RenderBlockEnd("BulkAction") %]
