# --
# Copyright (C) 2001-2021 OTRS AG, https://otrs.com/
# Copyright (C) 2021 Znuny GmbH, https://znuny.org/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (GPL). If you
# did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
# --

[% RenderBlockStart("OverviewNavBar") %]
<div class="OverviewBox ARIARoleMain [% Data.View | html %]">
    <h1>[% Translate(Data.TitleName) | html %]:
        <div class="overview-breadcrumb">
            <div>
                [% Translate(Data.TitleValue) | html %]
            </div>
        </div>
    </h1>
    [% Data.DataInTheMiddle %]

    <div class="WidgetSimple QueueOverview level-filter-view">
        <div class="Content">
            <ul class="QueueOverviewList Level_0">
[% RenderBlockStart("OverviewNavBarFilterItemSelected") %]
                    <li class="[% Data.CSS | html %]">
                        <a class="Active" name="OverviewControl" href="[% Env("Baselink") %]Action=[% Env("Action") %];[% Data.FilterLink %]Filter=[% Data.Filter | uri %]">[% Translate(Data.Name) | html %]<span> ([% Data.Count | html %])</span></a>
                    </li>
[% RenderBlockEnd("OverviewNavBarFilterItemSelected") %]
[% RenderBlockStart("OverviewNavBarFilterItemSelectedNot") %]
                    <li class="[% Data.CSS | html %]">
                        <a name="OverviewControl" href="[% Env("Baselink") %]Action=[% Env("Action") %];[% Data.FilterLink %]Filter=[% Data.Filter | uri %]">[% Translate(Data.Name) | html %]<span> ([% Data.Count | html %])</span></a>
                    </li>
[% RenderBlockEnd("OverviewNavBarFilterItemSelectedNot") %]
            </ul>
        </div>
    </div>

    <div class="OverviewControl" id="OverviewControl">
        <div>
            <div class="ControlRow">
[% RenderBlockStart("OverviewNavBarFilter") %]
                <ul class="Tabs">
[% RenderBlockStart("OverviewNavBarFilterItem") %]
[% RenderBlockStart("OverviewNavBarFilterItemSelected") %]
                    <li class="Active [% Data.CSS | html %]">
                        <a href="[% Env("Baselink") %]Action=[% Env("Action") %];[% Data.FilterLink %]Filter=[% Data.Filter | uri %]">[% Translate(Data.Name) | html %]<span>[% Data.Count | html %]</span></a>
                    </li>
[% RenderBlockEnd("OverviewNavBarFilterItemSelected") %]
[% RenderBlockStart("OverviewNavBarFilterItemSelectedNot") %]
                    <li class="[% Data.CSS | html %]">
                        <a href="[% Env("Baselink") %]Action=[% Env("Action") %];[% Data.FilterLink %]Filter=[% Data.Filter | uri %]">[% Translate(Data.Name) | html %]<span>[% Data.Count | html %]</span></a>
                    </li>
[% RenderBlockEnd("OverviewNavBarFilterItemSelectedNot") %]
[% RenderBlockStart("OverviewNavBarFilterItemSplit") %]
                    -
[% RenderBlockEnd("OverviewNavBarFilterItemSplit") %]
[% RenderBlockEnd("OverviewNavBarFilterItem") %]
                </ul>
[% RenderBlockEnd("OverviewNavBarFilter") %]
[% RenderBlockStart("OverviewNavBarPageBack") %]
                <ul class="Tabs">
                    <li>
                        <a id="ITSMConfigItemSearch" href="[% Env("Baselink") %]Action=[% Env("Action") %];[% Data.LinkBack %]">[% Translate("Change search options") | html %]</a>
                    </li>
                </ul>
[% RenderBlockEnd("OverviewNavBarPageBack") %]

[% RenderBlockStart("ContextSettings") %]
                <ul class="ContextFunctions">
                    <li class="ContextSettings">
                        <a class="icon-hover" href="#" id="ShowContextSettingsDialog" title="[% Translate("Context Settings") | html %]">
                            <i class="fa fa-cog"></i>
                            <span>[% Translate("Context Settings") | html %]</span>
                        </a>
                    </li>
                </ul>

                <div id="ContextSettingsDialogContainer" class="Hidden">
                    <form action="[% Env("CGIHandle") %]" method="post" id="ContextSettingsDialog">
                        <input type="hidden" name="Action" value="AgentPreferences"/>
                        <input type="hidden" name="Subaction" value="Update"/>
                        <input type="hidden" name="Group" value="[% Data.Group | html %]"/>
                        <input type="hidden" name="RedirectURL" value="[% Data.RequestedURL | html %]"/>
                        <fieldset class="TableLike">
                            <label for="[% Data.PreferencesKey | html %]">[% Translate("Config Items per page") | html %]:</label>
                            <div class="Field">
                                [% Data.PageShownString %]
                            </div>
                        </fieldset>
                    </form>
                </div>
[% RenderBlockEnd("ContextSettings") %]

            </div>
            <div class="ActionRow">
                <div class="OverviewActions">

[% RenderBlockStart("BulkAction") %]
                    <ul class="Actions">
                        <li id="ConfigItemBulkAction" class="Bulk Inactive">
                            <a href="#">[% Translate("Bulk") | html %]</a>
                        </li>
                    </ul>
[% RenderBlockEnd("BulkAction") %]

                    [% Data.ActionRow %]
                    <div>
[% RenderBlockStart("OverviewNavBarPageNavBar") %]
                        <span class="Pagination">
                            <ul>
                                <li>
                                    <span>[% Data.ResultLong %]</span>
                                </li>
                                <li class="page-links">[% Data.SiteNavBarLong %]</li>
                            </ul>
                        </span>
[% RenderBlockEnd("OverviewNavBarPageNavBar") %]

                        <ul class="OverviewZoom">

[% RenderBlockStart("OverviewNavBarViewMode") %]
[% RenderBlockStart("OverviewNavBarViewModeSelected") %]
                            <li class="Active">
                                <a class="[% Data.Name | html %]" name="OverviewControl" href="[% Env("Baselink") %]Action=[% Env("Action") %];Filter=[% Data.Filter | uri %];View=[% Data.View | uri %];[% Data.LinkFilter %]" title="[% Translate(Data.Name) | html %]">
                                    [% Translate(Data.NameShort) | html %]
                                </a>
                            </li>
[% RenderBlockEnd("OverviewNavBarViewModeSelected") %]
[% RenderBlockStart("OverviewNavBarViewModeNotSelected") %]
                            <li>
                                <a class="[% Data.Name | html %]" name="OverviewControl" href="[% Env("Baselink") %]Action=[% Env("Action") %];Filter=[% Data.Filter | uri %];View=[% Data.View | uri %];[% Data.LinkFilter %]" title="[% Translate(Data.Name) | html %]">
                                    [% Translate(Data.NameShort) | html %]
                                </a>
                            </li>
[% RenderBlockEnd("OverviewNavBarViewModeNotSelected") %]
[% RenderBlockEnd("OverviewNavBarViewMode") %]
                        </ul>
                    </div>
                </div>
# sort order bar if needed
                [% Data.SortOrderBar %]
            </div>
        </div>
    </div>
</div>
[% RenderBlockEnd("OverviewNavBar") %]
